body {
    background-color: rgba(12, 59, 125, 0.755);
}
.category {
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}
.saless {
    position:relative;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}
.sales {
    position:relative;
    width: 180px;
    margin-left: auto;
    margin-right: auto;   
}
a {
    text-decoration: none;
    color: antiquewhite;
}